body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#menu, #cart {
    border: 1px solid #7c0f0f;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(to bottom, #fbff00, #e25cba);
}

form, #processing, #orderSummary {
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#processing h2, #orderSummary h2 {
    color: #007bff;
}

#


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #d31e06;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#processing, #orderSummary {
    background-color: #860d0d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#processing h2, #orderSummary h2 {
    color: #10141a;
}

#processing p, #orderSummary p {
    color: #555;
}

#orderSummary ul {
    list-style: none;
    padding: 0;
}

#orderSummary ul li {
    margin-bottom: 5px;
    color: #990000;
}

#orderSummary p span {
    font-weight: bold;
    color: #007bff;
}
